<h1>Add New Prototype</h1>
<form action="/submitpro" method="POST" style="margin-bottom: 15.5rem">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label"
      >Prototype Location</label
    >
    <input
      type="text"
      class="form-control"
      id="location"
      name="location"
      aria-describedby="emailHelp"
    />
    <div id="emailHelp" class="form-text">Fill up prototype location</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Prototype Adress</label>
    <input
      type="text"
      class="form-control"
      id="adress"
      aria-describedby="emailHelp"
      name="adress"
    />
    <div id="emailHelp" class="form-text">Fill up prototype Adress</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Prototype ID</label>
    <input
      type="text"
      class="form-control"
      id="protid"
      aria-describedby="emailHelp"
      name="protid"
    />
    <div id="emailHelp" class="form-text">Fill up prototype ID</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label"
      >Password for Fathia's Acc</label
    >
    <input type="password" class="form-control" id="exampleInputPassword1" />
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" />
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
