
<div class="about-alga-container">
  <h1>About Algae For Oxygen</h1>
  <div class="for-image">
    <img src="img/liqtri.jpg" class="img-thumbnail" alt="..." />
  </div>
</div>
<div class="container"></div>
  <h1>Education About Algae</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur ipsam distinctio corrupti inventore soluta excepturi, in autem aperiam iste maxime obcaecati temporibus ullam incidunt facilis qui explicabo voluptatum voluptas harum quod vel eveniet ab fugit praesentium earum? Eius assumenda enim porro vel placeat amet dolorum et corrupti saepe recusandae! Sint voluptatum officiis placeat natus odio beatae blanditiis, reprehenderit ipsum rem ab dolorem earum, voluptate veniam accusantium repudiandae illo nesciunt omnis suscipit tempora! Dolorum earum error illum modi dicta minus rem omnis, perspiciatis numquam, enim eveniet ipsa quae velit dolores tenetur doloremque deleniti cum vero magni quisquam odio? Maxime pariatur quae, ullam eum perspiciatis eos possimus in assumenda blanditiis ab aperiam accusamus similique itaque alias vero inventore nam. Illo, fuga sint est nihil labore ipsa quis, facere suscipit sequi odio aspernatur eos tenetur sed consequatur quae? Sunt eveniet aliquid veritatis molestias dolorum quidem voluptatem repellat harum laudantium, dignissimos minima quaerat unde.</p>
  <div class="container mt-5">
    <div class="row">
        <!-- Card 1: Tentang Alga Merah -->
        
    </div>
</div>
  <div class="scroll-container" id="scroll-container">
    <div class="card m-3">
      <img src="img/SAVE1.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Class 1</h5>
        <p class="card-text">Contoh Deskripsi Edukasi</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card m-3">
      <img src="img/SAVE1.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Class 2</h5>
        <p class="card-text">Contoh Deskripsi Edukasi</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card m-3">
      <img src="img/SAVE1.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Class 3</h5>
        <p class="card-text">Contoh Deskripsi Edukasi</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card m-3">
      <img src="img/SAVE1.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Class 4</h5>
        <p class="card-text">Contoh Deskripsi Edukasi</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card m-3">
      <img src="img/SAVE1.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Class 5</h5>
        <p class="card-text">Contoh Deskripsi Edukasi</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card m-3">
      <img src="img/SAVE1.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Class 6</h5>
        <p class="card-text">Contoh Deskripsi Edukasi</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card m-3">
      <img src="img/SAVE1.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Class 7</h5>
        <p class="card-text">Contoh Deskripsi Edukasi</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card m-3">
      <img src="img/SAVE1.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Class 8</h5>
        <p class="card-text">Contoh Deskripsi Edukasi</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card m-3">
      <img src="img/SAVE1.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Class 9</h5>
        <p class="card-text">Contoh Deskripsi Edukasi</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <!-- More cards can be added similarly -->
  </div>
  <div class="scroll-indicator">
    <div class="dot active"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
  </div>
  <div class="d-flex justify-content-between mt-3">
    <button class="btn btn-primary" id="scroll-left">&lt;</button>
    <button class="btn btn-primary" id="scroll-right">&gt;</button>
  </div>
</div>

