<h1>Prototype baru berhasil ditambahkan</h1>

<div class="alert alert-success" role="alert" style="margin-bottom: 43rem">
  Selamat! Anda Berhasil menambahkan prototype yang baru
  <a href="/settings" class="alert-link">Kembali Ke halaman Settings</a>
</div>
